---
title: "Home"
permalink: /
layout: splash
header:
  overlay_color: "#2b92b1"
  overlay_filter: "0.5"
  overlay_image: /assets/Images/impact2.jpg
  cta_label:
  cta_url:
excerpt: "Measuring the impact of your work<br>Shining a light on your achievement"
intro:
  - excerpt: "We are a small North Yorkshire consultancy dedicated to measuring your success and helping you demonstrate the value you and your organisation deliver to your stakeholders."
feature_row:
  - fa: fa-pie-chart
    alt: "placeholder image 1"
    title: "Evaluation Services"
    excerpt: "Ongoing evaluation of your organisation is essential, be it to prove compliance or demonstrate your comptencies to stakeholders. We can help with a wide range of analysis, reporting and evaluation services."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"
  - fa: fa-balance-scale
    alt: "placeholder image 2"
    title: "Social Return on Investment"
    excerpt: "We can help you demonstrate the value created by your organisation and its activities using SROI framework."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"
  - fa: fa-commenting-o
    title: "Advisory Services"
    excerpt: "Not sure about your how to meet your KPI's? Worried about breaching your SLA? Curious about continuous performance monitoring? Let's talk!"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
