---
title: "Home"
permalink: /
layout: splash
header:
  overlay_color:
  overlay_filter:
  overlay_image: /assets/Images/outcomes.jpg
  cta_label:
  cta_url:
excerpt: "Luminaire Consultancy"
caption: "Putting your achievements in the spotlight"
intro:
  - excerpt: "We are a York based evaluation and research consultancy dedicated to helping organisations demonstrate the value of the projects and services they deliver."
feature_row:
  - fa: fa-pie-chart
    alt: "placeholder image 1"
    title: "Evaluation Services"
    excerpt: "Ongoing evaluation of the services and projects you deliver is essential in enabling you to communicate the difference your work has made. We provide a wide range of evaluation and reporting services"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"
  - fa: fa-balance-scale
    alt: "placeholder image 2"
    title: "Research Services"
    excerpt: "Working across private, public and third sectors we use qualitative and quantitive techniques to examine and explore your research questions."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"
  - fa: fa-commenting-o
    title: "Advisory Services"
    excerpt: "For organisations requiring guidance with completing their own evaluations, monitoring or reporting, we provide advice and support tailored to the level of your need."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
