---
title: "Home"
permalink: /
layout: splash
header:
  overlay_color:
  overlay_filter:
  overlay_image: /assets/Images/outcomes.jpg
  cta_label:
  cta_url:
  caption: "Illuminating acheivements, highlighting research"
excerpt: "
Luminaire Consultancy"

intro:
  - excerpt: "We are a York based evaluation and research consultancy dedicated to helping organisations demonstrate the value of the projects and services they deliver. We carry out tailor made evaluations and applied research to support service sustainablity and development."
feature_row:
  - fa: fa-pie-chart
    alt: "Pie-Chart"
    title: "Evaluation"
    excerpt: "To enable you to effectively communicate the difference your work has made, we provide a wide range of evaluation services."
    url: "/services/"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"
  - fa: fa-search
    alt: "Magnifying Glass"
    title: "Research"
    excerpt: "Working across private, public and third sectors we use qualitative and quantitive techniques to examine and explore your research questions."
    url: "/services/"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"
  - fa: fa-commenting-o
    alt: "Speech Bubble"
    title: "Advice"
    excerpt: "For organisations completing their own evaluations and research, we can provide tailored support and guidance."
    url: "/services/"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--light-outline"

---

{% include feature_row id="intro" type="center"%}

{% include feature_row %}
