---
title: "Services"
permalink: /services/
layout: splash

intro:
  - excerpt: "Luminaire Consultancy offers a range of services to suit your evaluation and research needs.
  <br>We offer a free initial consultation to discuss the best solution for you."</br>

evaluation:
- title: "Evaluation"
  excerpt: 'Combining case studies and story telling with numerical analysis of outcomes is an effective way of communicating the benefits of your project. We gather the information to enable us to this via:
  <ul>
    <li>Face to face and telephone interviews</li>
    <li>Focus groups and Workshops</li>
    <li>Postal and Web based Surveys</li>
  </ul>
  <br>Matching the style of your evaluation report to your target audience is essential to maximise impact. We can advise on the most appropriate presentation format from formal academic reports, plain language reports, infographics and presentation slides.</br>'


research:
- title: "research"
  excerpt: 'Introduction to research, we deliver:
  <ul>
    <li>Quantitative Research</li>
    <li>Qualitative Research</li>
    <li>Literature Reviews</li>
  </ul>

  <br>We also have a passion for bridging the gap between academic research and the third sector. Contact us if you are interested in exploring research related to your field.</br>'


advice:
- title: "Advice"
  excerpt: 'We know that you may not always want or need us to carry out a full evaluation or research project. At Luminaire Consultancy we are committed to supporting development of evaluation and research skills within your organisation.
<br>We advise on any aspect of evaluation, research or reporting at all stages of project and service delivery via:</br>
<ul>
  <li>1:1 hourly advice sessions</li>
  <li>Team Advice Sessions</li>
  <li>Telephone/email advice</li>
</ul>'

---

{% include feature_row id="intro" type="center"%}

{% include feature_row id="evaluation" type="center"%}

{% include feature_row id="research" type="center"%}

{% include feature_row id="advice" type="center"%}
