<div id="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">
        <header id="header">
          <h1><a href="/" id="logo"><img src="/assets/Images/Logo ytg.png" alt=""></a></h1>
          <nav id="nav">
            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
              {% if node.title != null %}
                {% if node.layout == "onecolumn" %}
                  <a class="{% if page.url == node.url %}current-page-item{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </nav>
        </header>
      </div>
    </div>
  </div>
</div>
